<main>
  <header>
    <h1 innerHTML="{{'ForgotPage_Title' | resource}}"></h1>
  </header>
  <form id="forgot" class="mat-form-large"[formGroup]="form" (ngSubmit)="onSubmit()">
    <username-input name="username" [form]="form" ></username-input>
    <div class="instructions-block" innerHTML="{{'ForgotPage_SubTitle' | resource}}"></div>
  </form>
  <footer>
    <button class="btn-large btn-primary" mat-button mat-flat-button color="primary" type="submit" form="forgot" [disabled]="requestInProgress" [loading]="requestInProgress">
      {{'ForgotPage_SubmitButton' | resource}}
    </button>
    <div class="btn-center" >
      <a mat-button routerLink="/Login">cancel</a>
    </div>
  </footer>
</main>