<main>
  <header innerHTML="{{'LandingPage_Title' | resource}}"></header>
  <form name="landing" [formGroup]="form" (ngSubmit)="onSubmit()">
    <username-input name="username" [form]="form"></username-input>
    <password-input name="password" [form]="form"></password-input>  
    <forgot-password-link [form]="form"></forgot-password-link>
  </form>
  <footer>
    <button class="btn-large btn-primary" mat-flat-button type="submit" form="landing" [disabled]="requestInProgress">{{'LandingPage_SubmitButton' | resource}}</button>
    <button class="btn-large btn-secondary" mat-flat-button type="button">{{'LandingPage_RegisterButton' | resource}}</button>
  </footer>
</main>
