@import "./variables.scss";
@import "./material.scss";

// Global variables
:root {
  --body-text-color: hsl(0, 0%, 20%);
  --color-primary: #ff6c00; /* any format you want here */
  --color-primary-darker: hsl(from var(--color-primary) h s calc(l - 5%));
  --color-primary-darkest: hsl(from var(--color-primary) h s calc(l - 10%));
}

$main-padding-neg: -16px;
$main-padding-px: 16px;
$navbar-height: 5em;

html,
body,
app-root {
  display: block;
  margin: 0;
  height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: block;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$xsmall-and-down} {
    height: 100vh;
    width: 100%;

    &.navbar-mobile {
      height: calc(100vh - $navbar-height);
    }
  }

  @media #{$xsmall-and-up} {
    height: auto;
    margin: 0 auto;
    max-width: $xsmall-screen-up;
  }
}

.container > .ng-star-inserted {
  // effectively removes the page level component from the DOM.  i.e. <app-forgot-password>
  display: contents;
}

.mat-body,
.mat-body-1,
.mat-typography {
  font-size: 1rem;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--body-text-color);
  text-align: center;
}

body.isDarkTheme {
  background-color: #272727;
  header,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-primary);
  }
  a > .mat-button-wrapper {
    color: #666;
  }
  p {
    color: #666;
  }
}

h1 {
  display: block;
  width: 100%;
  font-size: 2.2rem !important;
  line-height: 1.2 !important;
  font-weight: bolder !important;
}

navbar {
  display: none;
  margin: 0;
  height: $navbar-height;
  background-color: var(--color-primary);
  text-align: center;
}

navbar.navbar-desktop {
  @media #{$xsmall-and-up} {
    display: block;
  }
}

navbar.navbar-mobile {
  @media #{$xsmall-and-down} {
    display: block;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  margin: 0 $main-padding-px;
  width: auto;
  height: 100%;

  @media #{$xsmall-and-up} {
    height: auto;
  }

  header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  form {
    height: auto;
  }

  footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 4em;
  }
}

// NOTE: Styling is specific for when the form field appearance is set to *standard*
.mat-form-large mat-form-field {
  //Everything scales based on the font-size
  font-size: 1.3rem;

  &.mat-form-field-appearance-fill {
    & .mat-form-field-flex {
      padding-top: 0;
    }

    & .mat-form-field-wrapper {
      padding-bottom: 1.5em;
    }

    & .mat-form-field-subscript-wrapper {
      margin-top: 0.3em;
    }

    & .mat-form-field-underline {
      display: none;
    }

    & .mat-icon-button {
      width: 2em !important;
      height: 2em !important;
      position: relative;
      top: 0.3em;
    }

    & .mat-form-field-infix {
      padding-top: 0;
    }
  }
}

username-input,
password-input {
  display: block;
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}

$btn-large-height: 60px;

.btn-large {
  width: 100%;
  border-radius: $btn-large-height !important;
  height: $btn-large-height;
  line-height: $btn-large-height;
  font-size: $btn-large-height / 3;
}

.btn-large + .btn-large {
  //applies to second button
  margin-top: 1em;
}

// Buttons
.mat-button.mat-button {
  border-radius: 200px;
  font-size: 1.25rem;
  height: 60px;

  &.mat-secondary {
    .mat-button-focus-overlay {
      display: none;
    }
  }

  &.mat-full-width {
    width: 100%;
  }
}

// Loading spinner on buttons
.mat-loading .mat-progress-spinner {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(100% - 35px);

  circle {
    stroke: white;
    stroke-width: 15%;
  }
}

.btn-center {
  display: block;
  width: fit-content;
  text-align: center;
  margin: 1em auto;
  font-weight: 600;
  border: 0;
  text-decoration: none;
}

.instructions-block {
  width: 75%;
  margin: 1em auto;
}

br.mobile-only {
  display: none;
  @media #{$xsmall-and-down} {
    display: inline;
  }
}
