<mat-form-field [appearance]="'FormField_Appearance' | resource" [formGroup]="form">
    <mat-label *ngIf="showLabels">{{'Password_Label' | resource}}</mat-label>
    <input matInput
          name="password"
          [type]="inputType"
          placeholder="{{'Password_Label' | resource}}"
          formControlName="password"/>
    <button
        type="button"
        matSuffix
        mat-icon-button
        disableRipple
        aria-label="showPassword ? 'Hide' : 'Show'"
        (click)="toggle($event)">
        <mat-icon [svgIcon]="showPassword ? 'eye-closed' : 'eye'"></mat-icon>
    </button>
    <mat-error *ngIf="control.invalid">
        {{errors}}
    </mat-error>
</mat-form-field>