<main>
  <header>
    <div innerHTML="{{'SetPasswordPage_Title' | resource}}"></div>
  </header>
  <form id="landing" class="mat-form-large mb-2" [formGroup]="form" (ngSubmit)="onSubmit()">
    <password-input name="password" [form]="form"></password-input>
  </form>
  <footer>
    <button class="btn-large btn-primary" mat-button mat-flat-button color="primary" type="submit" form="landing" [disabled]="requestInProgress" [loading]="requestInProgress">
      {{'SetPasswordPage_SubmitButton' | resource}}
    </button>
  </footer>
</main>
