<main>
    <header>
      <h1 innerHTML="{{'ForgotPage_Title' | resource}}"></h1>
      <div class="instructions-block" innerHTML="{{'ForgotPage_SubTitle' | resource}}"></div>
    </header>
    <form name="forgot" [formGroup]="form" (ngSubmit)="onSubmit()">
      <username-input name="username" [form]="form" ></username-input><br/>
    </form>
    <footer>
      <button class="btn-large btn-primary" mat-flat-button type="submit" form="forgot" [disabled]="requestInProgress">{{'ForgotPage_SubmitButton' | resource}}</button>
      <a class="btn-large btn-secondary" routerLink="/Login">cancel</a>
    </footer>
  </main>