<main>
    <header>
      <h1 innerHTML="{{'ForgotPage_Title' | resource}}"></h1>
    </header>
    <form id="forgot" class="mat-form-large"[formGroup]="form" (ngSubmit)="onSubmit()">
      <username-input name="username" [form]="form" ></username-input><br/>
      <div class="instructions-block" innerHTML="{{'ForgotPage_SubTitle' | resource}}"></div>
    </form>
    <footer>
      <button class="btn-large btn-primary" mat-button mat-flat-button type="submit" form="forgot" [disabled]="requestInProgress" [loading]="requestInProgress">
        {{'ForgotPage_SubmitButton' | resource}}
      </button>
      <a class="btn-link" routerLink="/Login">cancel</a>
    </footer>
  </main>