@import '~normalize.css';

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// Global fix for box sizing
:root {
  box-sizing: border-box;
  --body-text-color: hsl(0, 0%, 20%);
  --app-primary-color: #ff6c00;
  --content-padding: 10px;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html, body, app-root, .container, .container > .ng-star-inserted {
  display: block;
  height: 100vh;
  width: 100%;
  margin: 0;
  color: var(--body-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container > .ng-star-inserted { padding: 0 var(--content-padding); }

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--body-text-color);
  text-align: center;
}

h1 {
  display: block;
  width: 100%;
  //margin: 0 !important;
  font-size: 35px !important;
  line-height: 40px !important;
  font-weight: bolder !important;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  height: 100vh;
  width: auto;
  align-items: center;
  justify-content: center;

  > header {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  form {
    height: auto;
  }

  footer {
    text-align: center;
    box-sizing: border-box;

    .footer-link {
      font-size: 1rem;
      margin-top: 18px;

      a, a:visited, a:focus, a:hover, a:active {
        color: var(--app-primary-color);
        text-decoration: none;
      }
    }
  }
}

mat-label {
  font-size: 18px;
}

username-input, password-input {
  display: block;
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}

$btn-large-height: 60px;

.btn-large {
  width: 100%;
  border-radius: $btn-large-height !important;
  height: $btn-large-height;
  line-height: $btn-large-height;
  font-size: $btn-large-height / 3;

  &.btn-primary {
    color: white;
    background-color: var(--app-primary-color);
  }
}

// Buttons
.mat-button.mat-button {
  border-radius: 200px;
  font-size: 1.25rem;
  line-height: 1.25rem;
  height: 60px;

  &.mat-secondary {
    .mat-button-focus-overlay {
      display: none;
    }
  }

  &.mat-full-width {
    width: 100%;
  }
}

// Loading spinner on buttons
.mat-loading .mat-progress-spinner {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(100% - 35px);

  circle {
    stroke: white;
    stroke-width: 15%;
  }
}

.mat-simple-snackbar {
  font-weight: 400;
}

.forgot-password-btn {
  font-size: 14px;
  margin-top: 10px;
  color: var(--app-primary-color);
  font-weight: 600;
  border: 0;
  background: 0;
  width: 100%;
  text-align: center;
}
