//@import '~normalize.css';

@import '~angular-material-css-vars/src/lib/main';

// optional
$mat-css-dark-theme-selector: '.isDarkTheme';
$mat-css-light-theme-selector: '.isLightTheme';

// init theme
@include init-material-css-vars() {
  // If your app has any theme mixins, call them here. 
  // $mat-css-theme gets set to an appropriate value before this content is called.
  // @include your-custom-component-theme($mat-css-theme);
};


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// Global fix for box sizing
:root {
  box-sizing: border-box;
  --body-text-color: hsl(0, 0%, 20%);
  --color-primary: #ff6c00; /* any format you want here */
  --color-primary-darker: hsl(from var(--color-primary) h s calc(l - 5%)); 
  --color-primary-darkest: hsl(from var(--color-primary) h s calc(l - 10%));
  --content-padding: 16px;
  font-size: 16px;
  line-height: 1.2;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html, body, app-root, .container, .container > .ng-star-inserted {
  display: block;
  height: 100vh;
  width: 100%;
  margin: 0;
  //color: var(--body-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mat-body, .mat-body-1, .mat-typography {
  font-size: 1rem;
}

//Padding for Angular Components i.e. app-landing, app-forgot-password
.container > .ng-star-inserted { padding: 0 var(--content-padding); }

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--body-text-color);
  text-align: center;
}

body.isDarkTheme {
  background-color: #272727; 
  header,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-primary);
  }
  a > .mat-button-wrapper { color: #666; }
  p { color: #666; }
}

h1 {
  display: block;
  width: 100%;
  font-size: 2.2rem !important;
  line-height: 1.2 !important;
  font-weight: bolder !important;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  height: 100vh;
  width: auto;

  > header {
    display: grid;
    align-items: center;
  }

  > form {
    height: auto;
  }

  > footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 4em;
  }
}

// NOTE: Styling is specific for when the form field appearance is set to *standard*
.mat-form-large mat-form-field {
  //Everything scales based on the font-size
  font-size: 1.3rem;

  &.mat-form-field-appearance-fill {

    & .mat-form-field-flex {
      padding-top: 0;
    }

    & .mat-form-field-wrapper {
      padding-bottom: 1.5em;
    }

    & .mat-form-field-subscript-wrapper {
      margin-top: 0.3em;
    }
    
    & .mat-form-field-underline { display: none; }

    & .mat-icon-button { 
      width: 2em !important; 
      height: 2em !important; 
      position: relative;
      top: 0.3em;
    }

    & .mat-form-field-infix {
      padding-top: 0;
    }
  }
}

username-input, password-input {
  display: block;
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}

$btn-large-height: 60px;

.btn-large {
  width: 100%;
  border-radius: $btn-large-height !important;
  height: $btn-large-height;
  line-height: $btn-large-height;
  font-size: $btn-large-height / 3;
}

.btn-large + .btn-large {
  //applies to second button
  margin-top: 1em;
}

// Buttons
.mat-button.mat-button {
  border-radius: 200px;
  font-size: 1.25rem;
  height: 60px;

  &.mat-secondary {
    .mat-button-focus-overlay {
      display: none;
    }
  }

  &.mat-full-width {
    width: 100%;
  }
}

// Loading spinner on buttons
.mat-loading .mat-progress-spinner {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(100% - 35px);

  circle {
    stroke: white;
    stroke-width: 15%;
  }
}

.btn-center {
    display: block;
    width: fit-content;
    text-align: center;
    margin: 1em auto;
    font-weight: 600;
    border: 0;
    text-decoration: none;
}

.instructions-block {
  width: 75%;
  margin: 1em auto;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent;
}