@import '~normalize.css';
@import './variables';

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

// Generic

html, body {
  height: 100%;
  color: $app-text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #414141;
  text-align: center;
}

header h1 {
  margin: 0 !important;
  font-size: 35px !important;
  line-height: 40px !important;
  font-weight: bolder !important;
}

strong {
  font-family: 'Proxima Nova Altbold';
}

.full-width {
  width: 100%;
}

.instructions-block {
  width: 266px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;

  > p:not(:first-child) {
    margin-top: 20px;
  }
}

// Buttons
.mat-button.mat-button {
  &.mat-primary {
    color: #ffffff;
    background: $app-primary-color;

    &.mat-button-disabled {
      color: #ffffff;
      background-color: $app-primary-color-light;
    }
  }

  &.mat-secondary {
    background-color: #ffffff;
    color: $app-primary-color;
  }
}

mat-label {
  font-size: 18px;
}

username-input, password-input {
  display: block;
  width: 100%;
  mat-form-field {
    width: 100%;
  }
}

$btn-large-height: 60px;

.btn-large {
  width: 100%;
  border-radius: $btn-large-height !important;
  height: $btn-large-height;
  line-height: $btn-large-height;
  font-size: $btn-large-height / 3;

  &.submit-button {
    color: white;
    background-color: $app-primary-color;
  }
}

.mat-input-element {
  font-size: 18px !important;
}

$mat-input-padding: 10px;

.mat-form-field-subscript-wrapper {
    margin-top: 0 !important;
    margin-left: $mat-input-padding + 5px !important;
    padding-left: 0 !important;
}

// Inputs
.mat-form-field {
    margin-bottom: 12px;
  input.mat-input-element {
    color: #485465;
    &::placeholder {
      color: #485465;
    }
  }

  .errors {
    color: red;
    font-size: 0.75rem;
  }

  &.mat-form-field-appearance-fill {
    background-color: #f1f2ee;
    border-radius: 8px;
  }

  .mat-form-field-wrapper {
    padding: $mat-input-padding 0;

    .mat-form-field-flex {
      align-items: center;
      background-color: unset;
      padding: $mat-input-padding $mat-input-padding + 5px;

      .mat-form-field-infix {
        border-top: 0;
        padding: 0;
      }

      .mat-form-field-suffix {
        margin-top: 0;

        button {
          width: 24px;
          height: 24px;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        mat-icon {
          width: 100%;
          height: 100%;
          svg {
            display: block;
          }
        }
      }
    }
  }

  .mat-form-field-underline,
  .mat-form-field-ripple {
    display: none;
  }
}

// Layout
.page {
  > header {
    flex: none;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-height: 670px) {
      height: 240px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  footer {
    text-align: center;
    margin-top: auto;
    height: 208px;
    padding-top: 24px;
    padding-bottom: 24px;
    box-sizing: border-box;

    @media(max-height: 670px) {
      height: auto;
      margin-top: 0;
      flex: 1;
    }

    .footer-link {
      font-size: 1rem;
      margin-top: 18px;
      a, a:visited, a:focus, a:hover, a:active {
        color: $app-primary-color;
        text-decoration: none;
      }
    }
  }
}

// Buttons
.mat-button.mat-button {
  border-radius: 200px;
  font-size: 1.25rem;
  line-height: 1.25rem;
  height: 60px;

  &.mat-secondary {
    .mat-button-focus-overlay {
      display: none;
    }
  }

  &.mat-full-width {
    width: 100%;
  }
}

// Loading spinner on buttons
.mat-loading .mat-progress-spinner {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(100% - 35px);

  circle {
    stroke: white;
    stroke-width: 15%;
  }
}

// Layout
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  > section {
    display: flex;
    flex-direction: column;
    flex: 1;
    @media(max-height: 670px) {
      flex: none;
    }
  }

  > * {
    padding: 0 16px;
  }

  > .full-width {
    padding: 0;
  }
}

.mat-simple-snackbar {
  font-weight: 400;
}

.mat-simple-snackbar-action button {
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill::first-line {
  font-size: 19px;
  font-family: 'Proxima Nova';
}
