@import '../../../variables';

.forgot-password-btn {
    font-size: 14px;
    margin-top: 10px;
    color: $app-primary-color;
    font-weight: 600;
    border: 0;
    background: 0;
    display: inline-flex;
    align-self: flex-end;
  }