<mat-form-field appearance="fill" [formGroup]="form">
    <input matInput
          name="password"
          [type]="inputType"
          placeholder="{{'Password_Label' | resource}}"
          formControlName="password"/>
    <button
        type="button"
        mat-flat-button
        matSuffix
        mat-icon-button
        aria-label="showPassword ? 'Hide' : 'Show'"
        (click)="toggle($event)">
        <mat-icon [svgIcon]="showPassword ? 'eye-closed' : 'eye'"></mat-icon>
    </button>
    <mat-error *ngIf="control.invalid">
        {{errors}}
    </mat-error>
</mat-form-field>